// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
// @import '../node_modules/bootstrap/dist/css/bootstrap-theme.min.css';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.paddingTopForNavbar {
  padding-top: 70px; // use for floating navbar top
}
.marginZero {
  margin: 0px;
}
.marginKeyword {
  margin-bottom: 4px;
  margin-right: 4px;
}
.desc {
  background-color: inherit;
  border: none;
}
.separator {
  padding-top: 10px;
  padding-bottom: 10px;
}
.bulle {
  padding: 15px;
  background: rgb(220, 220, 220);
  border-radius: 5px;
}
// http://stackoverflow.com/questions/4086107/html-positionfixed-page-header-and-in-page-anchors
.offsetTarget:before {
  content:"";
  display:block;
  height:60px;
  margin:-60px 0 0;
}
.bg-parallax {
  width: 100%;
  height: 150px;
  background-image: url("./assets/atom-refined.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//-------------------------- CHRONOLOGIC DISPLAY-----------------------------
.chrono ul>li {
  list-style-type: none;
  position: relative;
  padding-top: 25px;
  border-left: 4px solid #ccc;
}
.chrono ul>li::before {
  content: attr(data-date);
  position: absolute;
  top: 32px;
  transform: translateX(-125%);
  width: 80px;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #ccc;
  line-height: 1;
}
.chrono ul>li::after {
  content: '';
  position: absolute;
  left: -2px;
  top: 32px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ccc;
}
.chrono ul>li>div {
  position: relative;
  top: 0;
  left: 45px;
  padding: 15px;
  background: rgb(220, 220, 220);
  border-radius: 5px;
}
.chrono div.marginZero>div>h2 {
  margin-top: 0px;
}
.chrono ul>li>div::before {
  content: '';
  position: absolute;
  top: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgb(220, 220, 220) transparent transparent;
}

// ------------------------------ Begin phase ----------------------------------------
.overlay{
  opacity:0.8;
  background-color:#000000;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}
// Thanks to https://css-tricks.com/glitch-effect-text-images-svg/ for the effect
.glitch{
  line-height: 100px;
  font-size: 100px;
  position:relative;
  top: calc(50% - 50px);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 10px #ffffff;
  font-family: monospace;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  width: 100%;
  text-align: center;
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  width: 100%;
  text-align: center;
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
